/*Main & Global Classes*/
body
{
    background:#212121;
    text-align:center;
    font-family:Sans-serif;
    letter-spacing:1.5px
}

figure
{
    margin:0;
    display:inline-block
}

.container
{
    width:80%;
    margin:auto
}

.sec-head
{
    display:block;
    border:.5px solid #424242;
    border-bottom:0;
    margin:auto;
    width:390px;
    height:80px;
    position:absolute;
    top:-70px;
    left:38%
}

.sec-head span
{
    color:whitesmoke;
    display:inline-block;
    margin:30px 0 0 0;
    font-size:90%;
    font-weight:bold;
    letter-spacing:4px 
}

.general-button
{
    width:230px;
    height:65px;
    background:none;
    padding:10px;
    border:0;
    color:white;
    letter-spacing:3px;
    font-weight:bold;
    border-radius:3%;
    display:inline-block
}

.general-button:hover
{
    cursor:pointer
}

/*Reset heads*/
h1, h2, h3, h4, h5, h6
{
    margin:0
}

/*Reset Links*/
a
{
    color:white;
    text-decoration:none;
    font-weight:lighter
}

a:hover
{
    color:white;
    text-decoration:none  
}


/*Header*/
header
{
    background:url("../images/banner.jpg");
    background-size:cover;
    height:650px;
    position:relative
}


header nav
{
    border:1px solid #757575;
    border-radius:2%;
    display:inline-block;
    margin:30px 0;
    padding:10px;
    color:#F1DEE0;
    font-size:90%
}

header nav ul
{
    list-style-type:none
}

header nav ul li
{
    display:inline-block;
    margin:0 25px
}

/*Main Address*/
header h1
{
    color:whitesmoke;
    margin:auto;
    padding-top:170px
}

header h5
{
    color:#757575;
    margin:auto;
    padding-top:20px
}


/*Second Section*/
section.introduction
{
    background:#E0726C;
    height:750px;
    position:relative
}

/*Give Head Of The Section The Same Color Of The Section Without Innvolving Other Divs*/
section.introduction>div:first-of-type
{
    background:#E0726C
}

section.introduction h4
{
    color:#F9DCDB;
    display:inline-block;
    margin-top:120px
}

section.introduction h4
{
    font-size:150%;
    font-weight:lighter
}

section.introduction p
{
    color:whitesmoke;
    border:.5px solid #ddd;
    font-size:40px;
    line-height:1.7;
    font-weight:bold;
    padding:40px
}

section.introduction h5
{
    color:#F9DCDB;
    display:inline-block;
    font-size:105%;
    font-weight:lighter;
    margin-top:10px
}

span.marked-word
{
    color:white;
    font-weight:bold
}

a.special-link
{
    text-decoration:underline 
}

a.special-link:hover
{
    text-decoration:none;
    cursor:pointer
}

button#proceed
{
    background:#2E323A;
    margin:auto;
    margin-top:50px;
    display:block 
}


/*Third Section 'The Details'*/
section.details
{
    background:#fff;
    position:relative
}

/*Give Head Of The Section The Same Color Of The Section Without Innvolving Other Divs*/
section.details>div:first-of-type
{
    background:#fff
}

section.details>div.sec-head span
{
    color:#000
}

section.details figure
{
    margin-top:100px
}

section.details figcaption
{
    font-size:30px;
    margin-top:90px;
    color:#484D55;
    font-weight:bolder;
    letter-spacing:2px
}

section.details h4
{
    margin-top:45px;
    color:#B1BBD1;
    letter-spacing:2px;
    font-weight:lighter;
    font-size:120%
}

section.details div.list-in-details
{
    width:95%;
    margin:auto;
    text-align:left;
    padding:40px;
    box-sizing:border-box 
}

section.details div.list-in-details div.hr-maker
{
    display:inline-block;
    width:100%
}

div.hr-maker hr
{
    width:100%;
    border-top:none
}

section.details div.list-in-details div.list-items
{
    width:45%;
    box-sizing:border-box;
    display:inline-block;
    padding:40px
}

section.details div.list-in-details div.list-items i, section.details div.list-in-details div.list-items h3
{
    display:inline-block
}

section.details div.list-in-details div.list-items i
{
    font-size:35px;
    padding:15px;
    background:#2E323A;
    color:#fff;
    border-radius:100%
}

section.details div.list-in-details div.list-items h3
{
    color:#E97770;
    font-weight:bolder;
    letter-spacing:2px;
    margin-left:15px
}

section.details div.list-in-details div.list-items p
{
    color:#9E9499;
    margin-left:85px;
    line-height:1.8;
    letter-spacing:2px 
}








