/*Main & Global Classes*/
body
{
    background:#212121;
    text-align:center;
    font-family:Sans-serif;
    letter-spacing:1.5px
}

figure
{
    margin:0;
    display:inline-block
}

.container
{
    width:80%;
    margin:auto
}

.sec-head
{
    display:block;
    border-bottom:0;
    margin:auto;
    width:390px;
    height:60px;
    position:absolute;
    top:-60px;
    left:38%;
    background-color:inherit 
}

.sec-head span
{
    color:whitesmoke;
    display:inline-block;
    margin:30px 0 0 0;
    font-size:90%;
    font-weight:bold;
    letter-spacing:4px 
}

.general-button
{
    width:230px;
    height:65px;
    background:none;
    padding:10px;
    color:white;
    letter-spacing:3px;
    font-weight:bold;
    border:none;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    display:inline-block
}

.general-button:hover
{
    cursor:pointer
}

.clear
{
    clear:both
}

/*Reset heads*/
h1, h2, h3, h4, h5, h6
{
    margin:0
}

/*Reset Links*/
a
{
    color:white;
    text-decoration:none;
    font-weight:lighter
}

a:hover
{
    color:white;
    text-decoration:none  
}


/*Header*/
header
{
    background:url("../images/banner.jpg");
    background-size:cover;
    height:650px;
    position:relative
}


header nav
{
    border:1px solid #757575;
    border-radius:2%;
    display:inline-block;
    margin:30px 0;
    padding:10px;
    color:#F1DEE0;
    font-size:90%
}

header nav ul
{
    list-style-type:none
}

header nav ul li
{
    display:inline-block;
    margin:0 25px
}

/*Main Address*/
header h1
{
    color:whitesmoke;
    margin:auto;
    padding-top:170px
}

header h5
{
    color:#757575;
    margin:auto;
    padding-top:20px
}


/*Second Section*/
section.introduction
{
    background:#E0726C;
    height:750px;
    position:relative
}

/*Give Head Of The Section The Same Color Of The Section Without Innvolving Other Divs*/
section.introduction>div:first-of-type
{
    background:#E0726C
}

section.introduction h4
{
    color:#F9DCDB;
    display:inline-block;
    margin-top:120px
}

section.introduction h4
{
    font-size:150%;
    font-weight:lighter
}

section.introduction p
{
    color:whitesmoke;
    border:.5px solid #ddd;
    font-size:40px;
    line-height:1.7;
    font-weight:bold;
    padding:40px
}

section.introduction h5
{
    color:#F9DCDB;
    display:inline-block;
    font-size:105%;
    font-weight:lighter;
    margin-top:10px
}

span.marked-word
{
    color:white;
    font-weight:bold
}

a.special-link
{
    text-decoration:underline 
}

a.special-link:hover
{
    text-decoration:none;
    cursor:pointer
}

button#proceed
{
    background:#2E323A;
    margin:auto;
    margin-top:50px;
    display:block 
}


/*Third Section 'The Details'*/
section.details
{
    background:#fff;
    position:relative;
    height:1800px
}

/*Give Head Of The Section The Same Color Of The Section Without Innvolving Other Divs*/
section.details>div:first-of-type
{
    background:#fff
}

section.details>div.sec-head span
{
    color:#000
}

section.details figure
{
    margin-top:100px
}

section.details figcaption
{
    font-size:30px;
    margin-top:90px;
    color:#484D55;
    font-weight:bolder;
    letter-spacing:2px
}

section.details h4
{
    margin-top:45px;
    color:#B1BBD1;
    letter-spacing:2px;
    font-weight:lighter;
    font-size:120%
}

section.details div.list-in-details
{
    width:95%;
    margin:auto;
    text-align:left;
    padding:40px;
    box-sizing:border-box 
}

section.details div.list-in-details div.hr-maker
{
    display:inline-block;
    width:100%
}

div.hr-maker hr
{
    width:100%;
    border-top:none
}

section.details div.list-in-details div.list-items
{
    width:45%;
    box-sizing:border-box;
    display:inline-block;
    padding:40px
}

section.details div.list-in-details div.list-items i, section.details div.list-in-details div.list-items h3
{
    display:inline-block
}

section.details div.list-in-details div.list-items i
{
    font-size:35px;
    padding:15px;
    background:#2E323A;
    color:#fff;
    border-radius:100%
}

section.details div.list-in-details div.list-items h3
{
    color:#E97770;
    font-weight:bolder;
    letter-spacing:2px;
    margin-left:15px
}

section.details div.list-in-details div.list-items p
{
    color:#9E9499;
    margin-left:85px;
    line-height:1.8;
    letter-spacing:2px 
}

section.details button#get-started
{
    background:#E5756E;
    width:250px;
    text-transform:uppercase;
    margin-right:30px 
}

section.details button#more-info
{
    border:.5px solid #9E9499;
    color:#606167;
    text-transform:uppercase
}

section.details button#get-started, section.details button#more-info
{
    display:inline-block
}

/*Forth Section 'The Endorsements'*/
section.endors
{
    background:#F2F2F2;
    position:relative;
    height:700px
}

section.endors div.sec-head span
{
    color:#484D55;
    text-transform:uppercase 
}

table#endors-table
{
    display:inline-block;
    margin-top:100px
}

table#endors-table tr td figure img
{
    background-color:#fff;
    padding:10px
}

table#endors-table tr td figure figcaption a
{
    color:#E97770;
    display:inline-block;
    margin-top:35px;
    font-size:18px;
    font-weight:bolder
}

table#endors-table tr td figure p
{
    margin:auto;
    margin-top:25px;
    line-height:1.8;
    font-size:15px;
    font-weight:100;
    color:#919499;
    width:80%
}

table#endors-table tr td figure button.learn-more-button
{
    display:inline-block;
    background:#E0726C;
    margin:auto;
    margin-top:50px;
    width:200px;
    padding:20px;
    font-size:15px;
    text-transform:uppercase
}

/*Section Five*/
section.rest-Ofit
{
    position:relative;
    background:#272A33
}

div.container
{
    overflow:hidden 
}

section.rest-Ofit div.sec-head span
{
    text-transform:uppercase
}

section.rest-Ofit h1
{
    color:#fff;
    display:inline-block;
    margin-top:150px;
    font-weight:bolder;
    font-size:35px
}

section.rest-Ofit p
{
    color:#ACB4B9;
    margin-top:40px;
    font-size:22px;
    line-height:1.8
}

section.rest-Ofit div.container>hr
{
    margin-top:130px;
    border-color:#32353D;
    border-top:none
}

section.rest-Ofit form, section.rest-Ofit div#contact-info
{
    display:inline-block;
    width:47.5%;
    margin-top:100px
}

section.rest-Ofit form
{
    float:left;
    text-align:left
}

section.rest-Ofit div#contact-info
{
    float:right
}

section.rest-Ofit form input[type="text"], section.rest-Ofit form input[type="email"]
{
    display:inline-block;
    width:47%;
    height:50px;
    background:#CCC;
    border:none;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px
}

section.rest-Ofit form input[type="email"]
{
    margin-left:3%
}

section.rest-Ofit form textarea
{
    margin-top:30px;
    width:98%;
    height:150px;
    background:#ccc;
    padding:15px 0;
    border:none;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px
}

section.rest-Ofit form input.form-button
{
    margin:0;
    width:35%;
    text-transform:uppercase;
    font-size:15px;
    margin-top:40px;
    font-weight:bolder
}

section.rest-Ofit form input[type="submit"]
{
    background:#E8766F
}

section.rest-Ofit form input[type="reset"]
{
    border:.5px solid #56585F;
    margin-left:20px
}

/*Contact-info*/
div#contact-info
{
    text-align:left;
    overflow:hidden 
}

section.rest-Ofit div#contact-info div.contact-list-items
{
    display:inline-block;
    width:45%;
    float:left
}


section.rest-Ofit div#contact-info div.contact-list-items.rightDiv-get-margin-left
{
    margin-left:20px
}

section.rest-Ofit div#contact-info div.contact-list-items.hr-maker2
{
    float:none
}

section.rest-Ofit div#contact-info div.contact-list-items i, section.rest-Ofit div#contact-info div.contact-list-items h4
{
    display:inline-block
}

section.rest-Ofit div#contact-info div.contact-list-items span
{
    display:block;
    color:#7E9499;
    margin-left:65px;
    margin-top:20px;
    font-size:14.5px
}

section.rest-Ofit div#contact-info div.contact-list-items i
{
    color:#fff;
    padding:10px;
    background:#3A3F45;
    font-size:22px;
    border-radius:100%
}

section.rest-Ofit div#contact-info div.contact-list-items h4
{
    color:#E97770;
    font-size:19px;
    margin-left:15px;
    margin-bottom:20px
}

section.rest-Ofit div#contact-info section#hr-maker2
{
    margin:50px 0 30px 0
}

section.rest-Ofit div#contact-info div.contact-list-items.hr-maker2 hr
{
    width:90%;
    margin-left:0;
    text-align:left;
    border-color:#32353D;
    border-top:none
}









